<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yoyling.mapper.CollectMapper">
  <resultMap id="BaseResultMap" type="com.yoyling.domain.Collect">
    <id column="sid" jdbcType="INTEGER" property="sid" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="fid" jdbcType="INTEGER" property="fid" />
  </resultMap>
  <sql id="Base_Column_List">
    sid, userid, fid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from collect
    where sid = #{sid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from collect
    where sid = #{sid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yoyling.domain.Collect">
    insert into collect (sid, userid, fid
      )
    values (#{sid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{fid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yoyling.domain.Collect">
    insert into collect
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        sid,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="fid != null">
        fid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="fid != null">
        #{fid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yoyling.domain.Collect">
    update collect
    <set>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="fid != null">
        fid = #{fid,jdbcType=INTEGER},
      </if>
    </set>
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yoyling.domain.Collect">
    update collect
    set userid = #{userid,jdbcType=INTEGER},
      fid = #{fid,jdbcType=INTEGER}
    where sid = #{sid,jdbcType=INTEGER}
  </update>
</mapper>